@media (max-width: 1160px){
    main h1{
        font-size: 40px;
    }
}

@media (max-width: 960px){
    .img-edit{
        width: 200px;
    }
}

@media (max-width: 870px){
    .glass-box {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        align-items: center;
    }

    .navegation-bar {
        order: 1;
        width: 100%;
    }

    .navegation-bar ul{
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
    }


    main{
        order: 3;
        text-align: center;
    }

    .grid-rooms{
        justify-content: center;
    }   


    .last-box{
        order: 2;
    }
}
